<form id="bicicleta" action="/bicicleta/" method="post"></form>
    <input placeholder="Codigo de la Bicicleta" id="bicicleta_codigo" name="bicicleta_codigo" type="text"><br><br>
    <input placeholder="ID de la estacion" id="estacion_id" name="estacion_id" type="text"><br><br>
    <input id="send" type="submit" value="Devolver">
</form>