<form id="devolverBicicleta" action="/retiros/abiertos" method="post">
    <input placeholder="ID de la bicicleta" id="bicicleta_id" name="bicicleta_id" type="text"><br><br>
    <input placeholder="ID de la estacion" id="estacion_id" name="estacion_id" type="text"><br><br>
    <input id="send" type="submit" value="Devolver">
</form>