<h1>
    TP - Juan Falcone
</h1>

<h2>
    <a href="javascript:history.back()">Atras</a>
     - 
    <a href="/barrios">Barrios</a>
     - 
    <a href="/estaciones">Estaciones</a>
     - 
    <a href="/bicicletas">Bicicletas</a>
     - 
    <a href="/retiros">Retiros</a>
     - 
    <a href="/usuarios">Usuarios</a>
</h2>

