<form id="retirarBicicleta" action="/retiros/" method="post">
    <input placeholder="Codigo de la Bicicleta" id="bicicleta_codigo" name="bicicleta_codigo" type="text"><br><br>
    <input id="send" type="submit" value="Retirar">
</form>