<% if (query.length>0) { %>
  <table border="1px">
    <thead>
      <% for(const key in query[0].dataValues) { %>
      <th><%= key %></th>
      <% } %>
    </thead>
    <tbody>
      <% for(const obj of query){
            let values = obj.dataValues %>
      <tr>
        <% for(const key in values) { %>
        <td><%= obj[key] %></td>
        <% } %>
      </tr>
      <% } %>
    </tbody>
  </table>
<%}%>